.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        naoya
      .top-items__icons
        = link_to "#" do
          = icon('far', 'edit')
        = link_to "#" do
          = icon('fas', 'cog')
        
  .side-bar__group-list
    = link_to "#", class: "group" do
      .group__name
        termA
      .group__latest-message
        よろしく！
    = link_to "#", class: "group" do
      .group__name
        termB
      .group__latest-message
        おはよう！
